@import "tailwindcss";
/* html, body, #root {
  height: 100%;
  width:100vw;
  overflow-x: hidden;
  overflow: hidden;
   font-family: 'Quicksand', sans-serif;
} */

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

#root {
  height: 100%;
}
/* .layout {
  display: flex;
  height: 100vh;   
  overflow: hidden; 
}
.sidebar {
  width: 250px;
  flex-shrink: 0;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;  
} */
